.header {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  height: 20vh;
  font-weight: 500;
}

.header-two {
  align-self: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: 50px;
}

.signupform {
  align-self: center;
  display: wrap;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: 100px;
}

